<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.umd.min.js"></script>
    <link rel="stylesheet" href="static/style.css" />
    <title>PyConIT WebAuthn</title>
  </head>
  <body>
    <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          {% csrf_token %}
          <h1>Register with WebAuthN</h1>

          <div class="field-wrap">
            <label>
              User Name<span class="req">*</span>
            </label>
            <input id="username" type="text" required autocomplete="off"/>
          </div>
          
          <button id="btnRegister" type="submit" class="button button-block"/>
            <span>Get Started</span>
            <span id="statusRegister"></span>
          </button>
          </form>
        </div>
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          {% csrf_token %}
          <div class="field-wrap">
            <label>
              User Name<span class="req">*</span>
            </label>
            <input id="username" type="text" required autocomplete="off"/>
          </div>
                    
          <button id="btnAuthenticate" class="button button-block"/>
            <span>Authenticate</span>
            <span id="statusAuthenticate"></span>
          </button>
          
        </div>
        
      </div><!-- tab-content -->
      
    </div> <!-- /form -->

    <script src="static/webauthn.js"></script>
  </body>